:local(.elementDonut)
  display: flex

  .legend
    font-size: 12px

  rect
    stroke-width: 2;

  path.slice
     stroke-width:2px;
  polyline
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;

  svg
    .percent
      fill:white;
      text-anchor:middle;
      font-size:12px;
