:local(.userUpdatesBlock)
  display: flex
  flex-direction: column
  margin-bottom: 20px

  .title
    display: flex
    flex-direction: row
    padding-bottom: 5px
    border-bottom: 2px solid #c8c8c8
    margin-bottom: 5px
    width: 12em

    p
      margin: 0
      display: flex
      justify-content: center
      align-items: center
      align-content: center
      margin-left: 10px

    svg
      width: 30px
      height: 30px
