:local(.userUpdatesItem)
  display: flex
  margin: 10px 0

  svg
    height: 30px
    width: 30px

  span
    margin: 0 5px

  span, a
    display: flex
    align-items: center
    align-content: center
