@import 'toolkit'

:local(.userStatistics)
  .button-icon
    height: 45px
    width: 45px

    &.active
      border: 1px solid uprogress-grey-border-color
      background-color: uprogress-lightgreen-color
      border-radius: 5px

  .switchers
    display: flex
    flex-direction: row

    a
      margin: 0 10px
