@import 'toolkit'

:local(.Select)
  font-family: Geometria, sans-serif

  label
    display: block
    position: relative
    margin-bottom: 5px
    font-size: 1em
    text-transform: uppercase
    color: uprogress-grey-color

  select
    display: block
    border: 1px solid inputBorderColor
    background: white
    padding: 10px
    font-size: 1em
    outline: 1px solid transparent
    margin: 0
    border-radius: 0
    appearance: none
    width: 100%

    &::placeholder
      font-size: fontMiddleSize
      color: uprogress-lightgray-color

    &:active
      border-color: inputBorderActiveColor
      outline-color: inputBorderActiveColor
      background-color: rgba(35, 142, 239, 0.03)
      &::placeholder
        color: uprogress-grey-color

  // Comment
  span
    display: block
    font-size: fontSmallerSize
    color: uprogress-lightgray-color
    margin-top: 4px

// ===== DISABLED ===== //
  & select[disabled="disabled"]
    color: rgba(0,0,0,.8)
    border-color: inputBorderColor
    background-color: rgba(102, 102, 102, 0.05)
    outline-color: transparent

// ===== RED ===== //
  &.color-red select
    border-color: uprogress-red-button-color
    background-color: rgba(242, 78, 73, 0.05)
    outline-color: transparent
    &:focus
      outline-color: uprogress-red-button-color

// ===== GREEN ===== //
  &.color-green select
    border-color: uprogress-lightgreen-color
    background-color: rgba(85, 186, 82, 0.05)
    outline-color: transparent
    &:focus
      outline-color: uprogress-lightgreen-color
