@import 'toolkit'

:local(.stepsListItem)
  display: flex
  flex-direction: row

  .step-info
    display: flex
    flex-direction: column

    .step-description
      margin: 10px

  .delete-icon
    display: none

  &:hover
    .delete-icon
      display: block
