@import 'toolkit'

:local(.stepsListItem)
  display: flex
  flex-direction: row
  margin-bottom: 10px

  svg
    width: 30px
    height: 30px

  .step-info
    display: flex
    flex-direction: column
    align-content: center
    justify-content: center
    margin-left: 10px

    .step-description
      margin: 10px

  .delete-icon,
  .edit-icon
    display: none

  &:hover
    .delete-icon,
    .edit-icon
      display: block
