@import 'toolkit'
@import 'cards'

html, body
  margin: 0
  padding: 0
  height: 100%
  font-family: sans-serif
  color: #333
  min-height: 600px

  #app
    height: 100%

  body
    background: uprogress-background-grey-color

ul
  margin: 0
  padding: 0
  li
    list-style: none

hr
  border: none
  border-top: 1px solid #DDD

a
  text-decoration: none
  color: #666
  cursor: pointer
  &:hover
    text-decoration: underline

input
textarea
  box-sizing: border-box
  width: 100%
  border: 1px solid #DDD
  margin-bottom: 10px
  background: #fafafa
  outline: none

img
  display: block


h1
  font-size: 30px
  font-weight: medium
  line-height: 30px
  margin: 0

h2
  font-size: 21px
  font-weight: 300
  line-height: 24px
  margin: 30px 0
  color: uprogress-grey-color

h3
  font-size: 18px
  font-weight: 300
  line-height: 20px
  margin: 20px 0
  color: uprogress-grey-color

h5
  font-size: 14px
  font-weight: medium
  line-height: 20px
  margin: 0
