.Card
  background: #ffffff
  padding: 20px 20px 14px 20px
  margin: 0 auto 20px auto
  border: none
  border-radius: 5px
  box-shadow: 0 0 10px rgba(0,0,0,.15)
  text-align: left
  box-sizing: border-box

  &[width="narrow"]
    width: 400px

  &[width="wide"]
    max-width: maxWidthContainer

  .center
    margin: auto

  .SupportText
    font-size: fontSmallerSize
    color: uprogress-grey-color
    margin-bottom: 8px
    cursor: default

  .Row
    display: block
    margin-top: 8px
