// ===================================================================== //
//    PLEASE DONT CALL YOUR VARIABLES SAME WITH CSS PROPERTY NAMES!!!    //
// ===================================================================== //

/// RGB
uprogress-red-color              = #f25852
uprogress-blue-color             = #005ca9
uprogress-lightblue-color        = #4a90e2
uprogress-green-color            = #54b854
uprogress-lightgreen-color       = #55ba52
uprogress-yellow-color           = #f5a623
ave-satani-gray             = #666666
uprogress-grey-border-color      = #d6d6d6
uprogress-background-grey-color  = #f6f7f8
uprogress-placeholder-color      = #248fef
uprogress-gray-color             = #4a4a4a
uprogress-lightgray-color        = #cacaca
uprogress-red-button-color       = #f24e49
uprogress-red-button-dark-color  = #e82b26
uprogress-blue-button-color      = #4b90e2
uprogress-blue-border-color      = #3196f0
uprogress-icons-color            = #7f7f7f
uprogress-grey-color             = #9b9b9b
uprogress-nowhite-color          = #f2f1f1

// NAVIGATION
cellBackground              = #f8fBff
cellBackgroundCompany       = #EFEFEF
inputBorderColor            = #c5c5c5
inputBorderActiveColor      = #5285eb

// COMPANY REGISTARATION
aBlueColor                  = #4a90e2

// FONTS
fontBlack                   = #333333
fontDescription             = #666666

// LANDING
landing-yellow              = #ffd801
landing-greyTon1            = #ebebeb
landing-greyTon2            = #f7f7f7
landing-greyTon3            = #f3f3f3
landingCover                = rgba(0,0,0,.5)
