/***********************************\

1.  BUTTONS
2   BIG LARGE BUTTON
3.  USER CARD
4.  LABELS

\***********************************/
.button
  position: relative;
  font-size: 13px
  width: 160px
  height: 40px
  border: none;
  outline: none
  margin-bottom: 12px
  border-radius: 5px
  text-transform: uppercase
  letter-spacing: 1px;

.buttonRed
  color: white
  background: uprogress-red-color
  padding: 5px 12px

.buttonEmptyBlue
  background: none
  color: uprogress-blueLight-color
  border: 1px solid uprogress-blueLight-color

.buttonText
  position: absolute
  top: 5px
  left: 0
  right: 0
  padding: 0 20px


/***********************************\

BIG LARGE BUTTON

\***********************************/
.buttonBig
  width: 200px;
  height: 40px;
  background: red;



/***********************************\

  USER CARD

\***********************************/
.userCard
  display: flex

  .userAvatar
    width: 50px
    height: 50px
    margin-right: 20px

  .userInfo
    width: 61.804%

    h3
      margin: 0

  .userButtons
    width: 38.196%
    text-align: end


/***********************************\

LABELS

\***********************************/
.label
  display: inline-block
  border-radius: 2px
  padding: 2px 7px
  font-size: 11px
  text-transform: uppercase
  letter-spacing: 1px

.label-blue
  border: 1px solid uprogress-blueLight-color
  color: uprogress-blueLight-color
