
.container
  max-width: 1400px
  //min-width: 1065px
  margin: 0 auto
  box-sizing: border-box

main.container
  display: flex
  justify-content: center

.space
  height: 20px
  clear: both

.left
  float: left

.right
  float: right

.grayplate
  position: absolute
  top: 0
  right: 24px
  height: 200%
  width: 1200px
  background #f2f2f2

.align-right
  text-align: right

.align-center
  text-align: center

.align-left
  text-align: left

::selection
  background: #4a90e2

::moz-selection
  background: #4a90e2
