my-padding-mixin($some-number)
  padding: $some-number

.claimTitle
  font-size: fontBiggerSize
  color: fontBlack
  font-weight: bold
  margin: 0
  &:hover
      color: uprogress-blue-color
      text-decoration: none

// variables

outer-shadow = 0px 2px 4px rgba(0, 0, 0, .2)
inner-shadow = inset 0px 2px 4px rgba(0, 0, 0, .2)
