@import 'toolkit'

:local(.navigation)
  margin: 0
  max-width: 15em
  margin: 5px 15px 15px 15px
  display: flex
  flex: 1 1 100%
  flex-direction: column

  .navigation-item
    margin: 10px 0 10px 0

  .create-button
    background-color: uprogress-lightblue-color
    padding: 5px
    border-radius: 5px
    color: uprogress-nowhite-color
    text-align: center
