@import 'toolkit'

:local(.navigation)
  margin: 0
  max-width: 15em
  margin: 5px 15px 15px 15px
  display: flex
  flex: 1 1 100%
  flex-direction: column

  .navigation-item
    padding: 10px 0 10px 10px
    border-radius: 8px
    display: flex
    flex-direction: row
    justify-content: space-between

    .percents-result
      margin-right: 10px

    &.selected
      background-color: uprogress-green-color
      color: uprogress-nowhite-color

  .create-button
    background-color: uprogress-blue-button-color
    padding: 5px
    border-radius: 5px
    color: uprogress-nowhite-color
    text-align: center
    margin-bottom: 10px


@media screen and (max-width: 767px)
  :local(.navigation)
    max-width: 100%
