:local(.dashboard)
  .dashboard-widget
    margin-top: 10px;

  .base-info
    display: flex
    flex-direction: row
    justify-content: space-between

@media screen and (max-width: 767px)
  :local(.dashboard)
    .base-info
      flex-direction: column
      
    .dashboard-widget
      ul.nav-bar
        flex-direction: column
