:local(.userPanel)
  display: flex
  flex-direction: column
  width: 16em

  .fullName
    h1
      font-size: 25px
  .nickname
    h3
      margin: 0

  .connect-info
    border-top: 1px solid #d6d6d6
    margin-top: 5px
    padding-top: 5px

    .location
      display: flex
      flex-direction: row

      svg
        width: 30px
        height: 30px

      .title
        margin-left: 10px
        margin-top: 0.7em
