:local(.userForm)
  display: flex
  flex-direction: row

  .user-fields
    margin-left: 10px

@media screen and (max-width: 767px)
  :local(.userForm)
    flex-direction: column;

    .user-avatart
      display: flex;
      flex: 1;
      justify-content: center;
      margin-bottom: 10px
