:local(.userAuthorizationsItem)
  display: flex
  margin-bottom: 10px

  .block
    display: flex
    flex-direction: row
    align-items: center
    margin-right: 10px

    .info
      display: flex
      flex-direction: column
      margin-left: 10px

  svg
    height: 35px
    width: 35px

@media screen and (max-width: 767px)
  :local(.userAuthorizationsItem)
    flex-direction: column

    .block
      margin-bottom: 10px
