:local(.userLayout)
  .main-content
    display: flex
    flex-direction: row

    .content
      margin: 5px 15px 15px 15px
      width: 100%

@media screen and (max-width: 767px)
  :local(.userLayout)
    .main-content
      flex-direction: column

      .content
        width: initial
