@import 'toolkit'

:local(.rootHeader)
  background-color: uprogress-lightgreen-color !important
  margin: 10px 10px 5px 10px
  padding: 0px
  display: flex
  flex-direction: row
  justify-content: space-between
  color: uprogress-nowhite-color

  .left-part
    display: flex
    align-items: center

  .menu-switcher
    display: none

  .user-info
    display: flex
    flex-direction: row
    align-items: center

    .user-nick
      margin: 0

    a
      color: uprogress-nowhite-color

    button
      margin-left: 20px

  .authorization
    display: flex
    flex-direction: row

    a
      color: uprogress-nowhite-color
      margin-right: 10px

@media screen and (max-device-width: 500px)
  :local(.rootHeader)

    .left-part
      display: none

    .menu-switcher
      display: block
