@import 'toolkit'

:local(.rootHeader)
  background-color: uprogress-lightgreen-color !important
  margin: 10px 10px 5px 10px
  padding: 0px
  display: flex
  flex-direction: row
  justify-content: space-between

  .user-info
    display: flex
    flex-direction: row

    .user-nick
      margin: 0

    button
      margin-left: 20px

  .authorization
    display: flex
    flex-direction: row

    a
      color: uprogress-nowhite-color  
      margin-right: 10px
