:local(.userHeader)
  .user-nick
    margin: 0
    display: flex

    svg
      height: 40px
      width: 40px

    .nick
      display: flex
      align-items: center
      margin-left: 10px

      span
        margin-left: 10px

  a
    color: white

  button
    margin-left: 20px
