:local(.userHeader)
  display: flex
  flex-direction: row
  align-items: center

  .user-nick
    margin: 0
    display: flex

    .nick
      display: flex
      align-items: center
      margin-left: 10px

  a
    color: white

  button
    margin-left: 20px
