@import 'toolkit'

:local(.directionsDetail)
  h1
    text-align: left
  .progress-bar
    background-color: uprogress-grey-border-color
    border-radius: 8px
    color: #fff

    &.red
      background-color: uprogress-red-color

    .percent_empty
      text-align: center
      padding: 5px

  for $i in (1..100)
    .progress_{$i}
      width: $i * 1%
      background-color: uprogress-green-color
      text-align: center
      border-radius: 8px
      padding: 5px
      color: uprogress-nowhite-color

  .direction-detail-header
    display: flex
    flex-direction: row
    justify-content: space-between

    svg
      height: 40px
      width: 40px

  .detail-widget
    margin-top: 10px

.Popover-body
  padding: 1em
  background-color: uprogress-nowhite-color
  border-radius: 8px

@media screen and (max-width: 767px)
  :local(.directionsDetail)
    .direction-widget
      font-size: 0.78em;
